.header {
    height: 110px;
    background: #6183FF;
    color: #FFFFFF;
    font-weight: Bold;
    font-size: 18px;
    padding: 15px 0 0 15px;
    margin-bottom: 5px;
  }
  .menu{
    padding: 30px 0 0 30px;
  }
  .menu-item{
    display: inline;
    padding: 30px 10px 12px 0px;
    text-transform: uppercase;
    font-weight: normal;
  }
  .menu-item:hover{
    border-bottom: 3px solid yellow;
    cursor: pointer;
  }